@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #009b93;
    --color-secondary: #EA5B0A;
    --color-tertiary: #f3e40e;
    --color-white: #f5f5f5;

    --color-base: #2B4E73;
    --color-base-dark: #12355B;

    --font-title: 700;
    --font-text: 300;
    --font-complement: 100;
}

html {
  scroll-behavior: smooth;
  box-shadow: inset 0 0 30px var(--color-base-dark);
  font-display: swap;
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-text);
}

:target {
    scroll-margin-top: 10rem;
}

body {
    font-family: var(--font-text);
    background: url(../imgs/pontevelha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: .2s;
}

a {
    text-decoration: none;
    color: var(--color-base-dark);
}

a:hover {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

.fa-angle-up {
    border-radius: 100%;
    padding: 1.3rem;
    box-shadow: 0 0 5px var(--color-base-dark);
    background-color: var(--color-secondary);
    color: var(--color-white);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: .2s;
}

.fa-angle-up:hover {
    transform: scale(1.1);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    height: 100vh;
    background-color: var(--color-white);
}

h1 {
    font-size: 24px;
    font-weight: var(--font-title);
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
    font-weight: var(--font-text);
}

span {
    font-size: 14px;
    font-weight: var(--font-complement);
}
/* HEADER */

.header-topBar {
    max-width: 70rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-topbar-container {
    background-color: var(--color-white);
    box-shadow: 2px 0 10px var(--color-base-dark);
    top: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: .2s;
}

.topBar-switch {
    background-color: var(--color-white);
    color: var(--color-base-dark);
    transition: .2s;
}

.menu {
    display: flex;
    list-style: none;
}

.logo {
    width: 7rem;
    height: 5rem
}

.menu-item {
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: var(--font-title);
    color: var(--color-base-dark);
    cursor: pointer;
    text-transform: uppercase;
    transition: .1s;
}

.menu-item:hover {
    text-decoration: underline;
    background-color: var(--color-secondary);
    color: var(--color-white);
}


.header-sideBar-container {
    display: none;
    z-index: 2;
}

@media screen and (max-width: 900px){
    header {
        background-position: center;
    }
    
    .header-topbar-container {
        display: none;
    }

    .fa-bars {
        position: fixed;
        left: .5rem;
        font-size: 2rem;
        color: var(--color-white);
        text-shadow: .1px .1px 3px black;
        padding: 1rem;
    }

    .header-sideBar-container {
        display: block;
        position: fixed;
        width: 85%;
        text-align: center;
        box-shadow: 2px 0 10px var(--color-base-dark);
    }

    .header-sideBar .menu {
        background-color: var(--color-secondary);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
    }

    .header-sideBar .sidebar_menu-item {
        text-decoration: none;
        color: var(--color-white);
        padding: 3rem 0;
    }
}

/* quem somos */
section {
    max-width: 70rem;
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-base-dark);
    margin: 3rem auto;
    border-radius: 0 20px;
}

section:nth-child(1) {
    margin-top: 55rem;
}

@media screen and (max-width: 900px) {
    section:nth-child(1) {
        margin-top: 0;
        top: 0;
    }
}

.section-container {
    padding: 3rem;
    border-radius: 0 20px;
    box-shadow: 0 0 10px var(--color-base-dark);
}

.quemSomos-title {
    text-align: center;
}

.quemSomos-content p {
    margin: 2rem 0;
    text-align: center;
}

.quemSomos_content-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.quemSomos_content-box {
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quemSomos_content-box .title {
    text-align: center;
    margin-right: 1.5rem;
}

.quemSomos_content-box .title i {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.quemSomos_content-box:nth-child(1) .title i {
    color: var(--color-secondary);
}

.quemSomos_content-box:nth-child(2) .title i {
    color: var(--color-primary);
}

.quemSomos_content-box:nth-child(3) .title i {
    color: var(--color-tertiary);
}

.quemSomos_content_box-content p {
    text-align: left;
}

/* DTI */

.dti-title {
    text-align: center;
    margin-bottom: 1rem;
}

.dti-content p {
    margin-bottom: 2rem;
}

.dti-box {
    width: 100%;
    margin-top: .5rem;
}

.dti_box-title {
    padding: .5rem;
    color: var(--color-white);
    cursor: pointer;
}

.dti_box-title h2 {
    margin: 0;
}
.dti_box-content {
    padding: 0;
    height: 0;
    font-size: 0;
    transition: .2s;
    text-align: justify;
    color: transparent;
    box-shadow: 0px 16px 30px -30px var(--color-base-dark);
}

.opened {
    padding: .5rem;
    height: auto;
    font-size: 1rem;
    color: var(--color-base-dark);
}

.closed-text {
    display: none;
}

/* inteligencia turistica */

section:nth-child(3) {
    box-shadow: none;
    background-color: transparent;
    color: var(--color-white);
    font-weight: 700;
}

.inteligenciaTuristica {
    box-shadow: none;
}

.inteligenciaTuristica-title {
    text-align: center;
    margin-bottom: 4rem;
    text-shadow: 0 0 5px var(--color-base-dark);
    color: var(--color-white);
}

.inteligenciaTuristica-boxes ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: center;
}

.inteligenciaTuristica-boxes li {
    font-weight: 900;
    width: 12rem;
    height: 10rem;
    cursor: pointer;
    transition: .2s;
    margin: .4rem;
}

.inteligenciaTuristica-boxes h3 {
    font-weight: 900;
    padding: 0 .5rem;
}

.inteligenciaTuristica-boxes li a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-primary);
    background-color: var(--color-white);
    border-radius: 20px 0 20px 0;
    box-shadow: 0px 0px 10px var(--color-base-dark);
    text-decoration: none;
}

.inteligenciaTuristica-boxes li:nth-child(odd) a {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0 20px 0 20px;
}

.inteligenciaTuristica-boxes li:hover {
    transform: scale(1.1);
}

.inteligenciaTuristica-boxes i {
    font-size: 3rem;
    margin-bottom: .8rem;
}

@media screen and (max-width: 700px) {
    .inteligenciaTuristica-boxes ul {
        justify-content: center;
    }
}

/* pesquisas */

.pesquisas-title {
    text-align: center;
    margin-bottom: 2rem;
}

.pesquisas-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
}

.pesquisas_barraLateral-lista {
    list-style: none;
}

.pesquisas-barraLateral {
    background-color: var(--color-primary); 
    color: var(--color-white);
}

.pesquisas-barraLateral li {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.pesquisas-barraLateral li:hover {
    background-color: var(--color-base-dark);
}

.selecionado {
    background-color: var(--color-base-dark);
}

.pesquisas-boxes {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 4rem;
}

.pesquisas-box {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pesquisas_box-title h3 {
    margin: 1rem 0 .5rem 0;
    font-size: 1rem;
}

.pesquisas_box_title-bg img {
    width: 100%;
    height: 8rem;
}

.pesquisas_box-content {
    text-align: justify;
    color: var(--color-gray);
}

.pesquisas-boxes a {
    z-index: 1;
    display: block;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-white);
    padding: .5rem 0;
    margin: .2rem 0;
    width: 10rem;
    text-align: center;
    transition: .2s;
    position: relative;
    bottom: 0;
}

.pesquisas-boxes a:hover {
    background-color: var(--color-white);
    color: var(--color-secondary);
}

.controller {
    text-align: center;
    margin: auto;
    margin-top: 0rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12rem;
    margin-left: -5rem;
}

.prev, .pos {
    padding: 0.7rem 1rem;
    background-color: var(--color-tertiary);
    color: var(--color-base-dark);
    margin: 0 1rem;
    cursor: pointer;
    user-select: none;
    border-radius: 100%;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .pesquisas-boxes {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .pesquisas-boxes a {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .pesquisas-boxes {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }

    .pesquisas-container {
        display: flex;
        flex-direction: column;
    }
    
    .pesquisas-box {
        height: 22rem;
        margin-bottom: .5rem;
    }

    .pesquisas-barraLateral {
        order: 1;
    }

    .pesquisas-boxes {
        order: 3;
    }

    .controller {
        order: 2;
        margin: 1rem auto;
        position: relative;
        left: 0;
        text-align: center;
    }
}

/* geoinformacao */

.geoinformacao {
    border: none;
    border-radius: 0 0 0 0;
    max-width: 100%;
    background-color: transparent;
    padding: 0;
}

.geoinformacao iframe {
    width: 100%;
    height: 90vh;
    box-shadow: 0 0 30px var(--color-base-dark);
}

/* assinantes */

.section-container:nth-child(4) {
    padding: 0;
    margin-bottom: 0;
}

.assinantes-container {
    color: var(--color-white);
    background: url(../imgs/assinantesBG.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
}

.assinantes-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.assinantes_content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30rem;
    width: 100%;
}

.form-campo {
    text-align: right;
    margin: 0 0 1rem 0;
}

.form-campo input {
    width: 80%;
    padding: .3rem .2rem;
    margin: .5rem 0;
    margin-left: .2rem;
}

input[type='submit'] {
    float: right;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 5rem;
    padding: .4rem .2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}

input[type='submit']:hover {
    background-color: var(--color-secondary);
}

@media screen and (max-width: 900px) {
    .assinantes-content {
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .assinantes_content-text {
        margin: 1rem 0;
    }

    .assinantes_content-text span {
        margin: .5rem 0;
    }

    .form-campo {
        text-align: left;
        position: relative;
    }

    .form-campo input {
        width: 100%;
        margin-left: 0;
    }

    .senhaOlho {
        position: absolute;
        right: 0;
        margin-top: 14px;
        margin-left: 20px;
        color: var(--color-base-dark);
    }

    input[type='submit'] {
        float: left;
    }
}

/* parceiros */

.parceiros-title {
    text-align: center;
}

.parceiros-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.parceiros-content img {
    width: 8rem;
    margin: 1.5rem;
}

/* footer */

footer {
    background-color: var(--color-white);
    width: 100%;
}

.footer-container {
    max-width: 70rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.social i {
    font-size: 3rem;
    color: var(--color-gray);
    margin-right: 2rem;
    cursor: pointer;
    transition: .2s;
}

.social i:hover {
    color: var(--color-base-dark);
}

.icons {
    display: flex;
    align-items: center;
}

.icons img {
    width: 10rem;
    margin: 0 .5rem;
}

.icons img:nth-child(2) {
    width: 5rem;
}

@media screen and (max-width: 1100px) { 
    .footer-container {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .icons img {
        width: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .social {
        margin-bottom: 3rem;
    }
}





.closed {
    display: none;
}