@font-face { font-family: Roboto-Regular; src: url('../fonts/Roboto-Regular.ttf'); }
@font-face { font-family: Roboto-Medium; src: url('../fonts/Roboto-Medium.ttf'); }
@font-face { font-family: Roboto-Light; src: url('../fonts/Roboto-Light.ttf'); }



*{
	box-sizing: border-box;
	position: relative
}

img{
	max-width: 100%;
}

a:hover{ text-decoration: none; }

a:hover img{
	filter: brightness(1.1);
}

body{
	text-align: left;
	/*line-height: 18px;*/
	/*font-size: 15px;*/
	font-family: Calibri;
}

/*--------------------------------------------------- Attr*/

.fleft{ float: left; }
.fright{ float: right; }
.middle{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.w33{ width: 33.33% }
.w50{ width: 50% }
.hide{ display: none; }

.container{
	max-width: 1200px;
	margin: 0px 20px;
}

header{
	box-shadow: 0px 0px 10px #CCC;
	overflow:hidden;
	position: fixed;
	z-index: 99999;
	background: #FFF;
	top:0;
	width:100%;
	transition:all 0.5s;
}

.backheader{
	height: 112px;
}

header.min{
	background: rgba(255,255,255,0.9);
}

header .logo{
	width: 150px;
	padding: 15px;
	transition:all 0.5s;
}

header.min .logo{
	width: 100px;
	padding: 10px;
}

header .navbar{
	margin: 34px 0px 0px 180px;
	transition:all 0.5s;
}

header.min .navbar{
	margin: 16px 0px 0px 180px;
}

.navbar a{
	text-decoration: none;
	margin-right: 20px;
	text-transform: uppercase;
	/*font-family: 'Roboto-Regular';*/
	color: #000;
	font-size: 16px;
}

.navbar a:hover, .navbar a.active{
	color: #eb6215;
}

.navbar span{
	position: absolute;
	left: 0;
	font-size: 12px;
	top: 15px;
	text-align: left;
	width: 300px;
	color: #0ba59e;
	opacity:0;
	transition: all 0.3s;
}

.navbar a:hover span{
	top: 20px;
	opacity:1;
	border-left:1px solid #CCC;
	padding-left:7px;
}

h2{
	/*font-family: Roboto-Medium;*/
	text-transform: uppercase;
	font-size: 25px;
	padding: 20px;
	margin-top: 40px;
	text-align: center;
}

.superbanner{
	background: #FFF;
}

.azul .carousel-control-next, .azul .carousel-control-prev{
	width: 100px;
}

.azul .carousel-inner{
	padding: 0px 70px
}

.azul .carousel-control-prev{
	width: 100px;
}

.azul .carousel-control-prev-icon{
	background-size: 15px;
	margin-left: -50px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300F' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.azul .carousel-control-next-icon{
	background-size: 15px;
	margin-right: -50px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2300F' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.naver{
	text-align: center;
}

.naver a{
	display: inline-block;
	padding: 10px;
}

.naver a:after{
	content: "";
	position: absolute;
	width: 50px;
	height: 4px;
	background: #007bff;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all 0.5s;
}

.naver a.active:after{
	opacity: 1;
	width: 20px;
}

.institucional{
	overflow: hidden;
	margin-top: 50px;
	text-align: left
}

.institucional .icon{
/*	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;*/
}

.institucional img{
	/*width: 70%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-70%);*/
}

.icon span{
	display: block;
	margin-top: 15px;
	/*font-family: Roboto-Regular;*/
	/*position: absolute;*/
	/*bottom: 0;*/
	/*width: 100%;*/
	text-align: center;
}

.parceiros{
	overflow: hidden;
}

.parceiros .u{
	float: left;
	width: 20%;
	border: 10px solid #FFF;
	text-transform: uppercase;
	font-size: 13px;
	transition: all 1.5s;
	/*cursor: pointer;*/
}

.parceiros .u:hover{
	background: #fbfbfb;
	transition: all 0.1s;
}

footer{
	border-top: 6px solid #EEE;
}

footer .container{
	padding:30px 50px;
	overflow: hidden
}

footer img{
	height: 40px;
}

footer .caf img{
	height: 25px;
}

.temp-caixa{
	height: 700px;
}

.temp-caixa .bnr{
	background: #EEE;
	width: 800px;
	background-size: 100% auto;
	overflow: hidden;
	background-position: center
}

.temp-caixa .caixa{
	background: #009891;
	color: #FFF;
	width: 400px;
	margin: 40px 0px 40px 400px;
	padding: 30px;
	text-align: left;
	border: 1px solid #FFF;
	border-right: none
}

.temp-caixa input{
	background: transparent;
	border: 1px solid #FFF;
	color: #FFF;
	width: 100%;
	padding: 6px 6px;
	float: left;
	margin-right: 5px;
}



.temp-caixa.cadastro .caixa{
	margin: 0;
}

.carouselIndicadores .title{
	padding: 10px 60px;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}

.carouselIndicadores .subtitle{
	padding: 0px 60px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	color: #999;
/* 	text-shadow: 1px 1px 2px #000; */
	font-size: 13px
}

.card .img-center{
	height: 200px;
	background: #f5f5f5;
	position: relative
}
.card .img-center img{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.w-only{ display: initial; }
.m-only{ display: none; }

@media only screen and (max-width: 600px) {
	.w-only{ display: none; }
	.m-only{ display: initial; }

	.azul .carousel-control-next-icon
	,.azul .carousel-control-prev-icon{
		margin: 0px;
	}

	.container{
		margin: 0px 0px;
	}

	.txt{
		text-align:justify
	}

	.w33{
		width:100%
	}

	.institucional .fleft{
		margin:10px 0px;
	}

	.parceiros .u{
		width:50%;
	}

	header .logo{
		width: 80px;
		padding: 10px 0px;
	}


	header .navbar{
		margin: 3px 0px 0px 0px;
		transition:all 0.5s;
		float:right;
		width:65%;
		clear:none;
		text-align:right;
	}

	header nav{
		display:block;
		width:100%;
	}

	header.min .navbar{
		margin: 3px 0px 0px 0px;
	}

	header .navbar a{
		display:block;
		padding:5px 0px;
		margin:0;
	}

	header.min .navbar a{

		padding:0px;
	}

	.backheader{
		height: 162px;
	}

}