@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #009b93;
    --color-secondary: #EA5B0A;

    --color-white: #ffffff;
    --color-light-gray: #f8f8f8;

    --color-base: #2B4E73;
    --color-base-dark: #12355B;

    --font-title: 700;
    --font-text: 300;
    --font-complement: 100;
}

html {
  scroll-behavior: smooth;
  font-display: swap;
  font-family: 'Roboto', sans-serif;
  font-weight: var(--font-text);
}

:target {
    scroll-margin-top: 10rem;
}

body {
    box-shadow: inset 0 0 30px var(--color-base-dark);
    font-family: var(--font-text);
    background: url(../imgs/pontevelha.jpg);
    background-color: var(--color-light-gray);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    transition: .2s;
}

a {
    text-decoration: none;
    color: var(--color-base-dark);
}

a:hover {
    text-decoration: none;
}

ul {
    margin-bottom: 0;
}

.fa-angle-up {
    border-radius: 100%;
    padding: 1.3rem;
    box-shadow: 0 0 5px var(--color-base-dark);
    background-color: var(--color-secondary);
    color: var(--color-white);
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    transition: .2s;
    z-index: 10;
}

.fa-angle-up:hover {
    transform: scale(1.1);
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    height: 100vh;
    background-color: var(--color-white);
}

h1 {
    font-size: 24px;
    font-weight: var(--font-title);
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 16px;
    font-weight: var(--font-text);
}

span {
    font-size: 14px;
    font-weight: var(--font-complement);
}
/* HEADER */

.header-topBar {
    max-width: 70rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-topbar-container {
    background-color: var(--color-white);
    box-shadow: 2px 0 10px var(--color-base-dark);
    top: 0;
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: .2s;
}

.topBar-switch {
    background-color: var(--color-white);
    color: var(--color-base-dark);
    transition: .2s;
}

.menu {
    display: flex;
    list-style: none;
}

.logo {
    width: 7rem;
    height: 5rem
}

.menu-item {
    height: 5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: var(--font-title);
    color: var(--color-base-dark);
    cursor: pointer;
    text-transform: uppercase;
    transition: .1s;
}

.menu-item:hover {
    text-decoration: underline;
    background-color: var(--color-secondary);
    color: var(--color-white);
}


.header-sideBar-container {
    display: none;
    z-index: 5;
}

@media screen and (max-width: 900px){
    header {
        background-position: center;
    }
    
    .header-topbar-container {
        display: none;
    }

    .fa-bars {
        position: fixed;
        left: .5rem;
        font-size: 2rem;
        color: var(--color-white);
        text-shadow: .1px .1px 3px black;
        padding: 1rem;
    }

    .header-sideBar-container {
        display: block;
        position: fixed;
        width: 85%;
        text-align: center;
        box-shadow: 2px 0 10px var(--color-base-dark);
    }

    .header-sideBar .menu {
        background-color: var(--color-secondary);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100vh;
    }

    .header-sideBar .sidebar_menu-item {
        text-decoration: none;
        color: var(--color-white);
        padding: 3rem 0;
    }
}

.ponteDosIngleses {
    max-width: 90rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding-top: 10rem;
}

.ponteDosIngleses img {
    max-width: 40rem;
    width: 100%;
}

.historia {
    width: 30rem;
    text-align: center;
}

.historia-texto {
    background-color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.historia-texto h2 {
    margin: 1rem 0;
    font-weight: bold;
}

.historia-texto p {
    text-align: left;
}

.historia a {
    border: none;
    background-color: var(--color-secondary);
    color: var(--color-white);
    margin-top: 5rem;
    padding: .8rem 1rem;
    border-radius: 10px;
    font-weight: 600;
}

.historia i {
    margin-right: .5rem;
}

@media screen and (max-width: 900px) {
    .ponteDosIngleses {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .historia {
        margin: 0 1rem;
    }

    .ponteDosIngleses {
        padding-top: 3rem;
    }
}

/* quem somos */
.vector-wave {
    width: 100%;
    margin: 0;
}

section {
    width: 100%;
    background-color: var(--color-light-gray);
    color: var(--color-base-dark);
    position: relative;
    padding: 3rem 0;
}

section:nth-child(2) {
    margin-top: -8rem;
    padding-top: 0;
}

section:nth-child(3), section:nth-child(4) {
    background-color: var(--color-white);
}

@media screen and (max-width: 900px) {
    section:nth-child(1) {
        margin-top: 0;
        top: 0;
    }
}

.section-container {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.quemSomos-title {
    text-align: center;
    margin-bottom: 7rem;
}

.quemSomos-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 1rem;
}

.quemSomos-box {
    padding: 1rem;
    box-shadow: 0 0 5px var(--color-base);
    border-radius: 20px;
    max-width: 22rem;
    width: 100%;
    margin: 0 auto;
}

.quemSomos_box-title {
    text-align: center;
    color: var(--color-secondary);
    font-weight: bolder;
}

.quemSomos_box-title img {
    margin-top: -6rem;
}

.quemSomos_box-title h2 {
    margin: 1rem 0;
}

@media screen and (max-width: 900px) {
    .quemSomos-boxes {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
    }

    .quemSomos-box {
        margin-bottom: 6rem;
    }

    .quemSomos-box:nth-child(3) {
        margin-bottom: 0;
    }
}


/* DTI */

.dtiSVG {
    position: absolute;
    width: 80rem;
    right: 0;
    margin-top: -7rem;
    z-index: 1;
}

.dti-title {
    margin-bottom: 2rem;
}

.dti-boxes {
    max-width: 50rem;
    width: 100%;
    z-index: 1;
    position: relative;
}

.dti-box {
    width: 100%;
    margin-top: 1rem;
    background-color: var(--color-white);
    box-shadow: 0px 0px 20px -5px  var(--color-base-dark);
    border-radius: 20px;
}

.dti_box-title {
    padding: .5rem;
    color: var(--color-base-dark);
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0 0 20px 20px;
}

.dti_box-title svg {
    background-color: var(--color-primary);
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    margin-right: 1rem;
}

.dti_box-title h2 {
    margin: 0;
}
.dti_box-content {
    padding: 0;
    height: 0;
    font-size: 0;
    transition: .2s;
    text-align: justify;
    color: transparent;
    box-shadow: inset 0px 0px 5px 0px var(--color-base-dark);
    border-radius: 0 0 20px 20px;
}

.opened {
    padding: 1rem 1rem .5rem 1rem;
    height: auto;
    font-size: 1rem;
    color: var(--color-base-dark);
}

.closed-text {
    display: none;
}

section:nth-child(4) {
    padding-bottom: 16rem;
}

/* inteligencia turistica */

section:nth-child(5) {
    font-weight: 700;
    padding-top: 10rem;
    margin-top: -13rem;
    border-top-left-radius: 50% 25%;
    border-top-right-radius: 50% 25%;
}

.inteligenciaTuristica-title {
    text-align: center;
    margin-bottom: 4rem;
}

.inteligenciaTuristica-content iframe {
    width: 100%;
    height: 40rem;
}

.geoinformacao-title {
    text-align: center;
    margin-bottom: 4rem;
}

.geoinformacao-content iframe {
    width: 100%;
    height: 40rem;
}

/* pesquisas */

.pesquisas-container {
    position: relative;
}

.pesquisas_barraLateral-lista {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.pesquisas_barraLateral_lista-opcao.selecionado {
    background-color: var(--color-base-dark);
}

.pesquisas-barraLateral {
    background-color: var(--color-primary); 
    color: var(--color-white);
}

.pesquisas-barraLateral li {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    cursor: pointer;
    transition: .2s;
}

.pesquisas-barraLateral li:hover {
    background-color: var(--color-base-dark);
}

.selecionado {
    background-color: var(--color-base-dark);
}

.pesquisas-boxes {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 2rem 0;
}

.pesquisas-box {
    height: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: var(--color-white);
}

.pesquisas_box-title h3, .pesquisas_box-title span {
    padding: 0 1rem;
}

.pesquisas_box-title h3 {
    margin: 1rem 0 .5rem 0;
    font-size: 1rem;
}

.pesquisas_box_title-bg img {
    width: 100%;
    height: 10rem;
    border-radius: 10px 10px 0 0;
}

.pesquisas_box-content {
    text-align: justify;
    color: var(--color-base);
    padding: 0 1rem;
}

.pesquisas-boxes a {
    z-index: 1;
    display: block;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-white);
    padding: .5rem 0;
    margin: 1rem auto;
    width: 10rem;
    text-align: center;
    transition: .2s;
    position: relative;
    bottom: 0;
}

.pesquisas-boxes a:hover {
    background-color: var(--color-white);
    color: var(--color-secondary);
}

.controller {
    text-align: center;
    margin-top: 1rem;
}

.prev, .pos {
    padding: 0.7rem 1rem;
    background-color: var(--color-white);
    color: var(--color-base-dark);
    border: 1px solid var(--color-base-dark);
    margin: 0 1rem;
    cursor: pointer;
    user-select: none;
    border-radius: 100%;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    .pesquisas-boxes {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .pesquisas-boxes a {
        width: 100%;
        margin: 1rem 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    .pesquisas-boxes {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }

    .pesquisas-container {
        display: flex;
        flex-direction: column;
    }
    
    .pesquisas-box {
        height: 29rem;
        margin-bottom: .5rem;
    }

    .pesquisas-barraLateral {
        order: 1;
    }

    .pesquisas_barraLateral-lista {
        flex-wrap: wrap;
    }

    .pesquisas-boxes {
        order: 3;
    }

    .controller {
        order: 2;
        margin: 2rem auto 0 auto;
        position: relative;
        left: 0;
        text-align: center;
    }
}

.closed {
    display: none;
}

/* parceiros */

section:nth-child(8) .section-container {
    max-width: 100rem;
}

.parceiros-container {
    max-width: 70rem;
    width: 100%;
    margin: 0 auto;
}

.parceiros-title {
    text-align: center;
}

.parceiros-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.parceiros-content img {
    width: 8rem;
    margin: 1.5rem;
}

/* assinantes */

section:nth-child(9) {
    background-image: url(../vetores/assinantesSVG.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.assinantes-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.assinantes-box {
    width: 20rem;
}

.assinantes_box-img {
    text-align: center;
    margin-bottom: 1rem;
}

.assinantes-box h2 {
    color: var(--color-secondary);
}

.assinantes-box span {
    color: var(--color-base);
}

.assinantes-form {
    bottom: 0;
    width: 25rem;
}

.assinantes-form span {
    font-weight: bold;
    color: var(--color-white);
}

.assinantes-form input {
    border-radius: 10px;
    background-color: #009b93b7;
    border: none;
    width: 100%;
    margin: .5rem 0;
    padding: .5rem 1rem;
    color: var(--color-white);
}

.assinantes-form input::-webkit-input-placeholder {
    color: var(--color-white);
}

.assinantes-form input[type='submit'] {
    background-color: var(--color-secondary);
}

@media screen and (max-width: 900px) {
    section:nth-child(9) {
        background-position: right bottom;
    }

    .assinantes-box {
        margin: 0 auto;
        background-color: var(--color-white);
        padding: 1rem;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

    .assinantes-form {
        margin: 0 auto;
    }
}